*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    background-image: url("images/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191f;
    text-decoration: none;
}

.nav-link-list {
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-bar-list-right {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.nav-link {
    list-style: none;
}

.nav-bar-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-bar {
    max-width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 16px 160px;
    justify-content: space-between;
    margin: auto;
}

.wrapper {
    margin-left: 100px;
    display: flex;
    gap: 12px;
    padding: 16px 165px;;
}

.hero-section {
    display: flex;
    flex-direction: column;
    margin: 100px auto auto;
    max-width: 1400px;
    padding: 0 20px;
}

.hero-title {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #18191F;
 
}

.hero-content {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.hero-button {
    width: 154px;
    height: 48px;
    background-color: #8C30F5;
    border-radius: 6px;
    color: #FFFF;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    align-items: flex-start;
}

.hero-content-wrapper {
    display: flex;
   justify-content: space-between;
}

.hero-company-logos {
    height: 110px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 65px;
}

.features-section {
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    font-family: Inter;
    justify-content: center;

}

.tailor-made-features-title {
    width: 540px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.tailor-made-features-text-content {
    align-self: stretch;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 48px;
    /* 177.778% */
}

.top-three-figures {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottom-three-figures {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottom-six-feature-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: flex-start;
}

#robustwork  {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px;
}


.robust-workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}

.robust-workflow-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px; /* 162.5% */
}

#flexibilitytitle {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.flexibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}

.flexibility-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px; /* 162.5% */
}

#userfriendlyid {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px;
}
.user-friendly {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}

.user-friendly-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    width: 350px;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}



.bottom-three-figures {
    display: flex;
    align-items: center;
    gap: 30px;
}


.multiple-layouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}




.multiple-layouts-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    width: 350px;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.better-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}

.better-components-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px; /* 162.5% */
}

.well-organised {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 350px;
}

.well-organised-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px;/* 162.5% */
}


#organised {

    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px;
}
      
#bettercomponents {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px;
}

#multiplelayouts {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;

    font-weight: 600;
    line-height: 32px;
}
      


.tailor-made-features-container {
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 540px;

    
}

.tailor-made-features-text-container {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    align-self: stretch;
    width: 540px;

}

#tailor {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    width: 540px; /* 133.333% */
}


.real-stories-title {
    width: 445px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; 
    margin-left: 260px;
    /* 133.333% */
}

.real-stories-title-wrapper {
   
    align-self: stretch;
}
.undernote{
    align-self: stretch;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 10px;/* 177.778% */
    margin-left: 260px;
}

.airbnb {
    
    flex-direction: column;
    border-radius: 8px;
    background: var(--default-white, #FFF);
    display: inline-flex;
  
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 32px;
   
}

.airbnb-text{
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-family: Inter;
    color: #18191F;
}

.airbnb-logo {
    width: 130px;
    height: 40px;
    margin-bottom: 24px;
    align-items: flex-start;
}

.book-my-show {
    padding: 32px;
    border-radius: 8px;
    background: var(--default-white, #FFF);
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
    display: inline-flex;
    flex-direction: column;
    margin-left: 40px; 
}
  
.book-my-show-logo {
    width: 160px;
    height: 50px;
    align-items: flex-start
}

.book-my-show-text {
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-family: Inter;
    justify-content: center;
}

.hubspot {
    padding: 32px;  
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: var(--default-white, #FFF);
    display: inline-flex;
  
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
    margin-bottom: 110px;
    
}
  
.hubspot-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 24px;
    align-items: flex-start;
}

.hubspot-text {
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    gap: 32px;
    font-family: Inter;

}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  
    
}
  

.testimonials-wrapper-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
 
}

.testimonials-wrapper .book-my-show {
    flex-basis: 100%;
  }
  

.testimonials-wrapper .hubspot,
.testimonials-wrapper .airbnb {
  flex-basis: 48%;
}

.testimonials-wrapper .book-my-show,
.testimonials-wrapper-inner .hubspot,
.testimonials-wrapper-inner .airbnb {
  flex-basis: 100%;
}
  
  
.airbnb-hubspot-wrapper{
    display: flex;
    flex: row;
    padding: 0 150px;
    align-items: center;
    justify-content: center;
}

.testimonials-section {
 
    background-color: #D5FAFC;
    background-size: cover;
    width: auto;
    height: auto;
    margin-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.author{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Subtitle / Subtitle 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    gap: 24px; /* 155.556% */
    padding: 0 32px 0 32px;

}

.role {
    color: var(--text-gray-700, #969BAB);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    padding: 0 32px 0 32px;
}

.stats-wrapper {
    display: flex;
    padding: 80px 165px;
    align-items: center;
    gap: 30px;
    background:  #FFF;
}

.left-container {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.top-inner-containers {
    width: 540px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.bottom-inner-containers {
    align-self: stretch;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.bottom-inner-container{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    align-self: stretch;
}

.top-mini-containers {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.bottom-mini-containers {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.inner-mini-containers {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.logos {
    width: 32px;
    height: 32px;
}

.inner-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.bottom-text-content {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }

.top-numeric-data {
    width: 191px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H4 */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
}

.bottom-text-content {
    width: 191px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.right-top-bottom-containers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.feature-section-wrapper {
    display: flex;
    padding: 64px 165px;
    align-items: center;
    gap: 30px;
    background: var(--default-white, #FFF);
    width: 1440px;
    height: auto;
}

.feature-section-left-container {
    width: 540px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--brand-purple-100, #F1E4FF);
    overflow: hidden;
    border-radius: 8px;
}

.headline-title-container {
    width: 444px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H3 */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H3 */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
}

.right-container {
    display: flex;
    padding: 0px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.get-started-container {
    color: var(--brand-purple, #8C30F5);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Label / Large Label */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.feature-section {
    display: flex;
    padding: 64px 165px;
    align-items: center;
    gap: 30px;
    }


.feature-section-left-container .phone-image {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
}
      
.feature-section-left-container .screen-image {
    position: absolute;
    overflow: hidden;

}

.phone-image {
    width: 360px;
    height: 720px;
    flex-shrink: 0;
    margin: 56px 90px 236px 90px;
}

.screen-image {
    margin: 75px 110px 210px 110px;
    width: 314px;
    height: auto;
    flex-shrink: 0;
    
}

.right-container-content {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    display: flex;
    padding: 0px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.get-started-container {
    color: var(--brand-purple, #8C30F5);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Label / Large Label */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    color: var(--brand-purple, #8C30F5);
    display: flex;
    padding: 0px 48px;
    gap: 8px;
    align-items: center;
}

.purple-arrow-icon {
    display: flex;
}

.feature-section-six-title {
    width: 540px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H3 */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
    }

.feature-section-text-content {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    width: 540px;
}

.feature-section-image-content {
    width: 1110px;
    height: 400px;
}

.feature-section-six-wrapper {
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.feature-section-top-text-part {
    display: flex;
    align-items: center;
    gap: 30px;
}

.feature-section-six {
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}